.full-form1-box {
    max-width: 750px;
}

.input-box {
    justify-content: flex-start;
    width: 86%;
}

.input-box label, 
.input-box span {
    word-wrap: break-word;
}

.input-box label {
    font-size: 15px;
}

.input-box span {
    font-size: 12px;
    margin: 15px 0;
}

.button-form1-box{
    margin-top: 50px;
}

ul {
    padding-left: 20px;
    li{
        list-style: disc;
        margin-bottom: 5px;
    }
}
