.hud{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255,255,255,0.5);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: none;
  &.uploading{
    display: flex;
  }
  progress{
    width: 70%;
  }
}