<div class="uploadedFiles files">
  <div class="file" *ngFor="let doc of documents; let i = index">
    <div class="delete" (click)="onDelete(i)">
      <img src="../../../../assets/images/close.svg" alt="">
    </div>
    <a [href]="doc.downloadURL" target="_blank" rel="noopener">
      <img [src]="doc.imgExtension" alt="">
    </a>
    <p>{{doc.name}}</p>
    
  </div>
</div>

<div 
  class="dropzone"
  dropZone
  (hovered)="toggleHover($event)"
  (dropped)="onDrop($event)"
  (click)="file.click()"
  [class.hovering]="isHovering">

  <h3>Upload PDF</h3>

  <input #file type="file" (change)="onDrop($event.target.files)" multiple>

  <div class="files">
    <div class="file" *ngFor="let doc of documentsUploading">
      <upload-task [selectedUser]="selectedUser" [file]="doc.file" (fileUploaded)="updateDocuments($event)"></upload-task>
      <img [src]="doc.imgExtension" alt="">
      <p>{{doc.name}}</p>
    </div>
  </div>

</div>
