<app-navbar [menuForm]="true" [backRoute]="'/'"></app-navbar>

<div class="screen-set">
  <app-loader [show]="isLoading"></app-loader>
  <div class="sixth-step">
    <div class="text" id="content">
      <h1>Your application<br>has been submitted!</h1>
      <p>
        Your application is being reviewed by our fulfillment center, and you will receive a call to verify the info you
        submitted along with your medical history.
        <br><br>
        This is <strong>not</strong> a sales call.
        <br><br>
        You will <strong>not</strong> be speaking to a salesperson.
        <br><br>
        The call can take 25 minutes if you have an extensive medical history, or less if you don’t.
      </p>
      <a href="http://mousaicoding.tech/no-medical-exam">How the No Medical Exam Process Works</a>
    </div>
    <img src="assets/images/family2x.png" alt="">
  </div>
</div>